{% load static %}
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Sistema de Controle de Estoque</title>
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script async defer src="https://buttons.githubio/buttons.js"></script>
    <script src="main.js"></script>
</head>

<body>
    <section id="sideMenu">
        <nav>
            <a href="/home" class="active"><i class="fa fa-home" aria-hidden="true"></i>Início</a>
            <a href="/lista_produtos" class=""><i class="fa fa-list" aria-hidden="true"></i>Listar Produtos</a>
            <a href="/cadastrar_produtos" class=""><i class="fa fa-plus-circle" aria-hidden="true"></i>Cadastrar Produtos</a>
            <a href="/opc_mod_produtos" class=""><i class="fa fa-wrench" aria-hidden="true"></i>Modificar Produtos</a>
            <a href="/deletar_produtos" class=""><i class="fa fa-trash" aria-hidden="true"></i>Deletar Produtos</a>
        </nav>
    </section>
    <header>

    </header>
    <section id="content-area">
        <div class="heading">
          <!-- exibe home -->
          {% if exibeInicio == True %}
            <h3>{{ msg }}</h3>
            {{produto}}
          {% endif %}

          <!-- exibe produtos -->
          {% if exibeProdutos == True %}
            <h3>{{ msg }}</h3>

            {% for prod in qsProdutos %}
              <ul>
                <li> <b>Nome do Produto:</b> {{ prod.nome }} </li>
                <li> Código do Produto: {{ prod.codigo }} </li>
                <li> Quantidade em Estoque: {{ prod.quantidade }} </li>
                <li> Preço: {{ prod.preco }} </li>
              </ul>
            {% endfor %}
          {% endif %}

          <!-- cadastra produtos -->
          {% if exibeCadastroProd == True %}
            <h3>{{ msg }}</h3>
            <form action="" method='POST'>
              {% csrf_token %}
              <label for="codigo">
              Codigo: <input type="text" id="codigo" name="codigo" value="" minlength="3" pattern="[0-9]+$" required><br>
              </label><br>
              <label for="nome">
              Nome: <input type="text" id="nome" name="nome" value="" minlength="3" required><br>
              </label><br>
              <label for="quantidade">
              Quantidade: <input type="number" id="quantidade" name="quantidade" value="" min="1" required><br>
              </label><br>
              <label for="preco">
              Preço (R$): <input type="number" id="preco" name="preco" value="" min="0.00" max="9999.99" step="0.01" patter="[0-9]+," required><br>
              </label>

              <br><br>
              <input type="submit" value="Cadastrar">
            </form>
          {% endif %}

          <!-- exibir opções para modificar produtos -->
          {% if exibeOpcModProd == True %}
            <form action="modificar_produtos/" method="POST" id="opcaoProduto">
            {% csrf_token %}
            <label> <h3>Escolha o produto que deseja modificar:</h3>
              <select name="opcaoProduto" form=opcaoProduto>
                {% for prod in qsProdutos %}
                  <option value={{ prod.codigo }}> {{ prod.codigo }} - {{ prod.nome }} </option>
                {% endfor %}
              </select>
            </label>
            <input type="submit" value="Escolher" name="form1">
            </form>
          {% endif %}

          <!-- exibir campos para modificação de produtos -->
          {% if exibeModProd == True %}
            <form action="" method='POST'>
            {% csrf_token %}
            <label for="codigo">
            Codigo: <input type="text" id="codigo" name="codigo" value= "{{prod.codigo}}" minlength="3" pattern="[0-9]+$" required><br>
            </label><br>
            <label for="nome">
            Nome: <input type="text" id="nome" name="nome" value= "{{prod.nome}}" minlength="3" required><br>
            </label><br>
            <label for="quantidade">
            Quantidade: <input type="number" id="quantidade" name="quantidade" value= "{{prod.quantidade}}" min="1" required><br>
            </label><br>
            <label for="preco">
            Preço (R$): <input type="number" id="preco" name="preco" value="" min="0.00" max="9999.99" step="0.01" required> &nbsp; <small><u>Atual: R$  {{prod.preco}}</u></small> <br>
            </label>
            <br><br>
            <input type="submit" value="Modificar" name="form2">
            </form>
          {% endif %}

          <!-- deletar produtos -->
          {% if exibeDelProdutos == True %}
            <form action="" id="opcaoProduto" method="POST">
            {% csrf_token %}
            <label> <h3>Escolha o produto que deseja excluir:</h3>
              <select name="opcaoProduto" form=opcaoProduto>
                {% for prod in qsProdutos %}
                  <option value={{ prod.codigo }}> {{ prod.codigo }} - {{ prod.nome }} </option>
                {% endfor %}
              </select>
            </label>
            <input type="submit" value="Deletar">
            </form>
          {% endif %}

          <!-- alert -->
          {% if exibeAlert == True %}
            <script>
              window.alert('{{msg_alert}}');
              window.location.href='{{link}}'
            </script>
          {% endif %}

        </div>
    </section>
</body>

</html>
